<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: rgb(43, 43, 43);">

    <h2>Ajouter un article</h2>
    <form action="/workspace/create" method="POST">
        <div class="row mb-3">
            <label for="inputTitre" class="col-sm-2 col-form-label">Titre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitre" name="inputTitre">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputThumbNail" class="col-sm-2 col-form-label">Lien de l'image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputThumbNail" name="inputThumbNail">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputTexte" class="col-sm-2 col-form-label">Texte</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTexte" name="inputTexte">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputAuteur" class="col-sm-2 col-form-label">Nom et Prénom de l'auteur</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAuteur" name="inputAuteur">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputDate" name="inputDate">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</body>
