<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://www.svgrepo.com/show/109565/bird.svg" alt="Logo d'un oiseau rouge" width="50">
            Turfublog
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workspace">Workspace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">A propos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>