<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: rgb(43, 43, 43);">
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <div class="col m-5 p-5 rounded-3" style="background-color: white;">
        <h1>A propos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perspiciatis voluptatem, repudiandae laudantium suscipit quo delectus fuga eligendi dolorum quisquam aliquam saepe corporis deleniti quia numquam ullam dignissimos laboriosam quas?Alias unde vitae necessitatibus laboriosam accusantium, dolorem architecto id saepe temporibus illo omnis aperiam dolorum blanditiis et pariatur repellendus modi eum officiis nobis nihil assumenda ducimus tenetur a? Error, rem.</p>
    </div>
</body>