<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: rgb(43, 43, 43);">
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <% articles.forEach((article) => { %>
        <h1 class="text-white m-5 text-center"><%= article.titre %></h1>

        <div class="row row-cols-1 row-cols-md-2 g-0 m-5">
                <div class="col p-2">
                    <img src="<%= article.thumbnail_url %>" class="rounded-3 img-fluid" alt="">
                </div>
                <div class="col p-2">
                    <p class="text-white"><%= article.texte %></p>
                </div>
        </div>

        <h6 class="text-white text-center m-5">Ecrit par <%= article.auteur%> le <%= article.date %></h6>

            
    <% });%>  

</body>