<head>
    <%- include('../partials/head'); %>
</head>
    <body style="background-color: rgb(43, 43, 43);">
        <header>
            <%- include('../partials/navbar'); %>
        </header>
            <div class="row row-cols-1 row-cols-md-2 g-0 m-5">
                <% articles.forEach((article) => { %>
                <div class="col">        
                    <div class=" m-5 card mb-3 shadow" style="
                        background-image: url('<%= article.thumbnail_url %>');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-attachment: fixed;">
                        <div class="card-body">
                        <div class="p-3" style="
                        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                        backdrop-filter: blur( 8.5px );
                        -webkit-backdrop-filter: blur( 8.5px );
                        border-radius: 10px;">
                        <h4 class="card-title text-white" style="text-shadow: -1px 1px 2px #000000;"><a href="article/<%= article.id %>" class="text-decoration-none text-white"><%= article.titre %></a></h4>
                        <h6 class="text-white" style="text-shadow: -1px 1px 2px #000000;">Ecrit par <%= article.auteur %></h6>
                        <p class="card-text text-white" style="text-shadow: -1px 1px 2px #000000;"><%= article.texte.substring(0,250); %>...</p>
                        <a href="article/<%= article.id %>" class="btn btn-light btn-sm mb-3">Lire la suite</a>
                        <p class="card-text text-white" style="text-shadow: -1px 1px 2px #000000;"><%= article.date %></p>
                        </div>
                    </div>
                    </div>
                </div>
                <% });%>  
            </div>    
    </body>