<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body style="background-color: rgb(43, 43, 43);">
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <main>
        <div class="container-lg mt-5 p-5 rounded text-white shadow" 
        style="background-color: rgba(205, 92, 92, 0.644); 
            background-image: url('https://www.svgrepo.com/show/109565/bird.svg');
            background-repeat: no-repeat;
            background-attachment: fixed;">
            <h1 >Bienvenue chez Turfublog !</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, unde dicta eligendi placeat dolor voluptates eum repudiandae quam recusandae vel explicabo accusamus alias fugit veniam deleniti! Modi, exercitationem dignissimos.</p>
        </div>
        
        <div class="container-lg mt-5 p-5 mb-5 rounded shadow" style="background-color: rgba(205, 92, 92, 0.644); 
        background-image: url('https://www.svgrepo.com/show/109565/bird.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;">
            <h1 class="mb-5 text-white">Derniers articles</h1>

            <div class="row m-1">
            <% articles.forEach((article) => { %>
                <div class="card text-white m-2 shadow" style="max-width: 18rem;background: rgba( 0, 0, 0, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 7.5px );
                -webkit-backdrop-filter: blur( 7.5px );
                ">
                    <div class="card-body">
                        <h5 class="card-title mb-4 mt-3"><a href="article/<%= article.id %>" class="text-decoration-none text-white"><%= article.titre %></a></h5>
                        <img src="<%= article.thumbnail_url %>" class="card-img-top rounded-3 shadow-sm mb-3" alt="Image de l'article" style="height: 290px !important; width: 230px !important;">
                        <p class="card-text"><%= article.texte.substring(0,150); %>...</p>
                        <a href="article/<%= article.id %>" class="btn btn-light btn-sm mb-3">Lire la suite</a>
                        <p>Ecrit par <%= article.auteur %> le <%= article.date %></p>
                    </div>
                </div>
            <% });%>  
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>