<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: rgb(43, 43, 43);">
    <header>
        <%- include('../partials/navbar'); %>
    </header>
            <!--Ajouter un article-->
            <div>
                <div>
                <!--AJOUTER UN PRODUIT SEC-->
                <% if(!showCreateArticle && !showUpdateArticle){ %>
                    <a href="/workspace/newArticle" class="btn btn-primary mt-3 mb-5" tabindex="-1" role="button" aria-disabled="true">Ajouter un nouvel article</a>
                <% } %>
        
                <% if(showCreateArticle){ %>
                <div>
                    <%- include('../partials/addArticle'); %>
                </div>
                <% } %>
        
                <% if(showUpdateArticle){ %>
                <div>
                    <%- include('../partials/updateArticle'); %>
                </div>
                <% } %>
                </div>
            </div>
</body>